Flask 
Flask-SQLAlchemy==2.5.1
graphviz==0.17
gunicorn==20.1.0
Jinja2 
json5
MarkupSafe 
mpmath
mysqlclient
numpy
pandas
scikit-learn
https://download.pytorch.org/whl/cpu/torch-1.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.8.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
requests
Pillow